In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../data/2016-11-19-reimbursements.xz',
                   parse_dates=[16],
                   dtype={'document_id': np.str,
                          'congressperson_id': np.str,
                          'congressperson_document': np.str,
                          'term_id': np.str,
                          'cnpj_cpf': np.str,
                          'reimbursement_number': np.str},
                   low_memory=False)
data = data[data['year'] == 2016]

# analise de despesas por deputado X categoria

In [3]:
data_filtro = data[\
((data.party == 'PT')\
 | (data.party == 'PMDB')\
 | (data.party == 'PSDB'))\
& ((data.state == 'SP')\
 | (data.state == 'RJ'))\
& ((data.subquota_number == 5)\
 | (data.subquota_number == 999)\
 | (data.subquota_number == 120)\
 | (data.subquota_number == 13))]

tot = \
data_filtro.groupby(['party', 'state', 'applicant_id', 'congressperson_name', 'subquota_description'])\
.aggregate({'total_net_value': np.sum})

tot.unstack(-1)

                                                                   total_net_value  \
subquota_description                         Automotive vehicle renting or charter
party state applicant_id congressperson_name
PMDB  RJ    1118         LAURA CARNEIRO                                        NaN
            1467         CELSO JACOB                                      37061.07
            1583         LEONARDO PICCIANI                                     NaN
            2331         WASHINGTON REIS                                  67000.00
            2386         PEDRO PAULO                                      16007.50
            2429         FERNANDO JORDÃO                                  58500.00
            2922         SORAYA SANTOS                                         NaN
            2963         CELSO PANSERA                                         NaN
            3005         ALTINEU CÔRTES                                        NaN
            3070         ALEXANDRE SERFIOTIS                              16229.33
            3092         MARQUINHO MENDES                                 72000.00
            3135         ZÉ AUGUSTO NALIN                                      NaN
            3137         WILSON BESERRA                                    9032.89
            3139         ÁTILA A. NUNES                                        NaN
      SP    1006         EDINHO ARAÚJO                                         NaN
            3021         BALEIA ROSSI                                          NaN
PSDB  RJ    1901         OTAVIO LEITE                                          NaN
      SP    1175         SILVIO TORRES                                         NaN
            1552         CARLOS SAMPAIO                                   39629.10
            1586         LOBBE NETO                                       38282.67
            1816         DUARTE NOGUEIRA                                       NaN
            1923         RICARDO TRIPOLI                                       NaN
            1947         VANDERLEI MACRIS                                 24873.02
            2266         BRUNA FURLAN                                          NaN
            2399         MARA GABRILLI                                    37333.36
            2919         MIGUEL HADDAD                                         NaN
            2954         VITOR LIPPI                                           NaN
            2965         SAMUEL MOREIRA                                   12902.60
            2982         EDUARDO CURY                                     47700.00
            3009         JOÃO PAULO PAPA                                  23764.00
            3042         FLORIANO PESARO                                       NaN
            3068         BRUNO COVAS                                      21200.00
PT    RJ    188          BENEDITA DA SILVA                                     NaN
            1383         LUIZ SÉRGIO                                           NaN
            1799         CHICO D'ANGELO                                        NaN
            2901         FABIANO HORTA                                     7191.21
            3123         WADIH DAMOUS                                          NaN
      SP    974          ARLINDO CHINAGLIA                                32400.00
            1567         JOSÉ MENTOR                                           NaN
            1699         VICENTINHO                                            NaN
            1910         PAULO TEIXEIRA                                        NaN
            1963         CARLOS ZARATTINI                                 12748.65
            2246         VICENTE CANDIDO                                  29600.00
            2895         VALMIR PRASCIDELLI                               20692.00
            2966         ANDRES SANCHEZ                                   32000.00
            3072         NILTO TATTO                                           NaN
            3085         ANA PERUGINI                                     59224.00

                                                                  \
subquota_description                         Congressperson meal
party state applicant_id congressperson_name
PMDB  RJ    1118         LAURA CARNEIRO                  1480.98
            1467         CELSO JACOB                     6340.32
            1583         LEONARDO PICCIANI                   NaN
            2331         WASHINGTON REIS                     NaN
            2386         PEDRO PAULO                         NaN
            2429         FERNANDO JORDÃO                 1576.12
            2922         SORAYA SANTOS                       NaN
            2963         CELSO PANSERA                   5244.26
            3005         ALTINEU CÔRTES                      NaN
            3070         ALEXANDRE SERFIOTIS             5826.37
            3092         MARQUINHO MENDES                 697.37
            3135         ZÉ AUGUSTO NALIN                 516.01
            3137         WILSON BESERRA                  1756.68
            3139         ÁTILA A. NUNES                   181.19
      SP    1006         EDINHO ARAÚJO                   5467.46
            3021         BALEIA ROSSI                        NaN
PSDB  RJ    1901         OTAVIO LEITE                    5857.53
      SP    1175         SILVIO TORRES                   4760.19
            1552         CARLOS SAMPAIO                      NaN
            1586         LOBBE NETO                      2463.69
            1816         DUARTE NOGUEIRA                  559.13
            1923         RICARDO TRIPOLI                 1444.27
            1947         VANDERLEI MACRIS                6513.38
            2266         BRUNA FURLAN                     293.44
            2399         MARA GABRILLI                   5652.89
            2919         MIGUEL HADDAD                   4153.84
            2954         VITOR LIPPI                     5631.39
            2965         SAMUEL MOREIRA                  1989.60
            2982         EDUARDO CURY                    7683.03
            3009         JOÃO PAULO PAPA                   31.35
            3042         FLORIANO PESARO                  110.18
            3068         BRUNO COVAS                     1471.37
PT    RJ    188          BENEDITA DA SILVA                862.18
            1383         LUIZ SÉRGIO                     1248.02
            1799         CHICO D'ANGELO                  3770.49
            2901         FABIANO HORTA                    604.33
            3123         WADIH DAMOUS                    1495.41
      SP    974          ARLINDO CHINAGLIA               2130.97
            1567         JOSÉ MENTOR                     6471.22
            1699         VICENTINHO                       309.40
            1910         PAULO TEIXEIRA                   848.51
            1963         CARLOS ZARATTINI                    NaN
            2246         VICENTE CANDIDO                 2815.59
            2895         VALMIR PRASCIDELLI               952.52
            2966         ANDRES SANCHEZ                  2201.30
            3072         NILTO TATTO                     2789.98
            3085         ANA PERUGINI                    1397.65


subquota_description                         Publicity of parliamentary activity
party state applicant_id congressperson_name
PMDB  RJ    1118         LAURA CARNEIRO                                202458.67
            1467         CELSO JACOB                                   116997.50
            1583         LEONARDO PICCIANI                              12780.00
            2331         WASHINGTON REIS                                     NaN
            2386         PEDRO PAULO                                         NaN
            2429         FERNANDO JORDÃO                                     NaN
            2922         SORAYA SANTOS                                  67740.00
            2963         CELSO PANSERA                                  23000.00
            3005         ALTINEU CÔRTES                                197580.00
            3070         ALEXANDRE SERFIOTIS                           148000.00
            3092         MARQUINHO MENDES                               15000.00
            3135         ZÉ AUGUSTO NALIN                                5200.00
            3137         WILSON BESERRA                                      NaN
            3139         ÁTILA A. NUNES                                      NaN
      SP    1006         EDINHO ARAÚJO                                  19282.60
            3021         BALEIA ROSSI                                   71275.00
PSDB  RJ    1901         OTAVIO LEITE                                   17032.30
      SP    1175         SILVIO TORRES                                  70785.60
            1552         CARLOS SAMPAIO                                      NaN
            1586         LOBBE NETO                                    112375.87
            1816         DUARTE NOGUEIRA                                 1150.00
            1923         RICARDO TRIPOLI                                60279.82
            1947         VANDERLEI MACRIS                               39320.00
            2266         BRUNA FURLAN                                    6350.00
            2399         MARA GABRILLI                                  41532.14
            2919         MIGUEL HADDAD                                  65000.00
            2954         VITOR LIPPI                                    63528.00
            2965         SAMUEL MOREIRA                                 35700.00
            2982         EDUARDO CURY                                   19885.17
            3009         JOÃO PAULO PAPA                                30819.41
            3042         FLORIANO PESARO                                     NaN
            3068         BRUNO COVAS                                    58800.00
PT    RJ    188          BENEDITA DA SILVA                              58505.00
            1383         LUIZ SÉRGIO                                         NaN
            1799         CHICO D'ANGELO                                 81423.10
            2901         FABIANO HORTA                                  27000.00
            3123         WADIH DAMOUS                                   67851.20
      SP    974          ARLINDO CHINAGLIA                                   NaN
            1567         JOSÉ MENTOR                                    83431.53
            1699         VICENTINHO                                      4289.67
            1910         PAULO TEIXEIRA                                215141.80
            1963         CARLOS ZARATTINI                               27136.78
            2246         VICENTE CANDIDO                                80450.00
            2895         VALMIR PRASCIDELLI                             34421.00
            2966         ANDRES SANCHEZ                                 21955.90
            3072         NILTO TATTO                                   136845.00
            3085         ANA PERUGINI                                  109014.90

In [4]:
data_filtro = data[(data.subquota_number == 999)]

tot = \
   data_filtro.groupby(['party', 'state', 'congressperson_name', 'subquota_description', 'month'])\
   .aggregate({'total_net_value': np.sum})

tot.unstack()

Empty DataFrame
Columns: []
Index: []

In [5]:
data_filtro = data[(data.subquota_number == 999)]

tot = \
   data_filtro.groupby(['cnpj_cpf', 'supplier', 'subquota_description', 'month'])\
   .aggregate({'total_net_value': np.sum})

tot.unstack()

Empty DataFrame
Columns: []
Index: []